$blue_dark_02:     #020840;
$blue_dark_01:     #3a3f69;
$blue:             #727592;
$blue_light_01:    #aaabbb;
$blue_light_02:    #e1e1e3;

$gray_dark:        #56636C;
$gray:             #687882;
$gray_light:       #ABB4BA;

$black:            #1a1c1c;
$white:            #ffffff;

$violet:           #D3C7D5;
$dark:             #2D3032;
$dark-grey:        #555759;
$grey:             #7D7F80;
$bright-grey:      #D2D3D3;